__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
.env/
.venv/
ENV/
env/
*.env/

*.log

pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/

*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

.vscode/
.idea/
*.code-workspace

.ipynb_checkpoints/

htmlcov/
.coverage
.coverage.*
.cache
.noseids
pytest_cache/
.tox/

docs/_build/

*.tar.gz
*.egg
*.whl

Scripts/
Lib/
Include/

env.bat
activate.bat

.mypy_cache/
.pyre/
.pytype/

poetry.lock
Pipfile.lock

*.dockerfile
.dockerignore

chrome-win64/